{% extends 'base.html' %}

{% block head %}

	<title>About QuickPay Credit Limited - QuickPay Credit</title>
	<meta name="description" content="Operating under the Company's Act, QuickPay Credit Limited is a microfinance company that offers secured emergency loans such as logbook loans in Kenya.">


	<!-- Facebook Meta Tags -->
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="About QuickPay Credit Limited - QuickPay Credit">
    <meta property="og:description" content="Operating under the Company's Act, QuickPay Credit Limited is a microfinance company that offers secured emergency loans such as logbook loans in Kenya.">
	<meta property="og:url" content="https://www.quickpaycredit.com/about">
    <meta property="og:site_name" content="QuickPay Credit Limited" />
    <meta property="article:publisher" content="https://www.facebook.com/quickpaycredit" />
    <meta property="article:modified_time" content="" />
    <meta property="og:image" content="https://quickpaycredit.com/static/assets/images/quick-pay-credit-limited-logo.jpg" />
    <meta property="og:image:width" content="960" />
    <meta property="og:image:height" content="959" />
    <meta property="og:image:type" content="image/jpeg" />

	<!-- Twitter Meta Tags -->
	<meta name="twitter:card" content="summary_large_image">
	<meta property="twitter:domain" content="https://www.quickpaycredit.com/about">
	<meta property="twitter:url" content="@quickpaycredit">
	<meta name="twitter:title" content="About QuickPay Credit Limited - QuickPay Credit">
	<meta name="twitter:description" content="Operating under the Company's Act, QuickPay Credit Limited is a microfinance company that offers secured emergency loans such as logbook loans in Kenya.">
	<meta name="twitter:image" content="https://quickpaycredit.com/static/assets/images/quick-pay-credit-limited-logo.jpg">

	<link rel="canonical" href="{{request.build_absolute_uri}}">

{% endblock %}

{% block content %}

{% load static %}

        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs img1">
            <div class="container">
                <div class="breadcrumbs-inner">
                    <h1 class="page-title">
                        Hola! We&#39;re QuickPay Credit Limited
                        <span class="watermark">About</span>
                    </h1>
                    <span class="sub-text">Equipping you with the necessary financial resources to elevate your business and achieve greater heights of Financial Freedom.</span>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- About Section Start -->
        <div class="rs-about style2 pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row">
                    {% for rs in about %}
                    <div class="col-lg-6 pr-33 md-pr-15 md-mb-50">
                        <div class="images-part">
                            <img src="{{ rs.image.url }}" alt="{{ rs.alt }}">
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="sec-title">
                            <h2 class="title pb-22">{{ rs.title }}</h2>
                            <span class="sub-text big">{{ rs.detail | safe }}</span>
                           
                            <div class="btn-part mt-45 md-mt-30">
                                <a class="readon consultant discover" href="{% url 'contact' %}">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="rs-animation">
                <div class="animate-style">
                    <img class="scale" src="{% static 'assets/images/about/tri-circle-1.png' %}" alt="About Yellow Tri-Circle">
                </div>
            </div>
        </div>
        <!-- About Section End -->

        <!-- Services Section Start -->
        <div id="rs-services" class="rs-services chooseus-style about-style bg12 pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row">
                    {% for rs in vision %}
                    <div class="col-lg-4 col-md-6 md-mb-30">
                        <div class="services-item">
                            <div class="services-icon">
                                <img src="{{ rs.image.url }}" alt="{{ rs.alt }}">
                            </div>
                            <div class="services-text">
                                <h3 class="title"><a href="#">{{ rs.title }}</a></h3>
                                <p class="services-txt">{{ rs.short_detail }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Services Section End -->


{% endblock %}