{% extends 'base.html' %}

{% block content %}

{% load static %}


        <!-- Breadcrumbs Start -->
        <div class="rs-breadcrumbs img9">
            <div class="container">
                <div class="breadcrumbs-inner">
                    <h1 class="page-title">
                        Have questions - contact us
                        <span class="watermark">Contact</span>
                    </h1>
                    <span class="sub-text">Excepteur sint occaecat cupidatat non proident, sunt in coulpa qui official
                        modeserunt<br>
                        mollit anim id est laborum 20 years experience.</span>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs End -->

        <!-- Contact Section Start -->
        <div class="rs-contact contact-style2 bg9 pt-100 pb-100 md-pt-70 md-pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 pr-40 md-pr-15 md-mb-50">
                        <div class="contact-map">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.8439320704906!2d36.79948701461448!3d-1.2662980359615168!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f17390a6a9c79%3A0xe74f55367c903b6e!2sNairobi%20Garage!5e0!3m2!1sen!2ske!4v1678729693802!5m2!1sen!2ske"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="sec-title mb-45 md-mb-25">
                            <h2 class="title pb-20">
                                Let us help your business to move <span>forward.</span>
                            </h2>
                            <p class="margin-0">Get in touch with Quick Pay Credit Limited, a financial organization that specializes in offering lending products for individuals and small-to-medium size businesses. You can reach us through email, phone or by visiting our offices. Don't hesitate to contact us today.</p>
                        </div>
                        <div class="contact-wrap">
                            <div id="form-messages"></div>
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    <div class="row">
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-{{message.tags}}" role="alert">
                                    {{ message }}
                                </div>
                                    {% endfor %}
                                {% endif %}
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" name="first_name"
                                                placeholder="First Name" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" name="last_name"
                                                placeholder="Last Name" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" name="email"
                                                placeholder="E-Mail" required="">
                                        </div>
                                        <div class="col-lg-6 col-md-6 col-sm-6 mb-30">
                                            <input class="from-control" type="text" name="phone"
                                                placeholder="Phone Number" required="">
                                        </div>
                                        <div class="col-lg-12 mb-35">
                                            <textarea class="from-control" name="message"
                                                placeholder="Your message Here" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="btn-part">
                                        <div class="form-group mb-0">
                                            <input class="readon submit" type="submit" value="Submit Now">
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Icon Section Start -->
            <div class="rs-contact main-home">
                <div class="container">
                    <div class="contact-icons-style box-address pt-100 md-pt-70">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6 md-mb-30">
                                <div class="contact-item">
                                    <div class="contact-icon">
                                        <img src="{% static 'assets/images/contact/icons/1.png' %}" alt="images">
                                    </div>
                                    <div class="content-text">
                                        <h2 class="title"><a href="#">Our Office</a></h2>
                                        <p class="services-txt">Delta Corner Annex, <br>Westlands, Nairobi</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6 xs-mb-30">
                                <div class="contact-item">
                                    <div class="contact-icon">
                                        <img src="{% static 'assets/images/contact/icons/3.png' %}" alt="images">
                                    </div>
                                    <div class="content-text">
                                        <h2 class="title"><a href="#">Email us</a></h2>
                                        <a href="#">info@quickpaycredit.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <div class="contact-item">
                                    <div class="contact-icon">
                                        <img src="{% static 'assets/images/contact/icons/4.png' %}" alt="images">
                                    </div>
                                    <div class="content-text">
                                        <h2 class="title"><a href="#">Call us</a></h2>
                                        <a href="tel:+254723527197">+254 723 527 197</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Contact Icon Section End -->
        </div>
        <!-- Contact Section End -->


{% endblock %}