{% load static %}

<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer style1 footer-home4-style">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                    <div class="footer-logo mb-40">
                        <a href="{% url 'home:home' %}"><img src="{% static 'assets/images/quick-pay-credit-logo.jpg' %}" alt="Quick Pay Credit Limited Logo"></a>
                    </div>
                    {% for rs in about %}
                      <div class="textwidget white-color pb-40"><p>{{ rs.short_detail }}</p>
                      </div>
                      {% endfor %}
                      <ul class="footer-social md-mb-30">  
                          <li> 
                              <a href="https://www.facebook.com/quickpaycredit" target="_blank"><span><i class="fa fa-facebook"></i></span></a> 
                          </li>
                          <li> 
                              <a href="https://www.twitter.com/quickpaycredit" target="_blank"><span><i class="fa fa-twitter"></i></span></a> 
                          </li>

                          <li> 
                              <a href="https://www.instagram.com/quickpaycredit" target="_blank"><span><i class="fa fa-instagram"></i></span></a> 
                          </li>
                          <li>
                                                                   
                      </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10 pl-55 md-pl-15">
                    <h3 class="footer-title">Quick Links</h3>
                    <ul class="site-map">
                        <li><a href="{% url 'home:home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'quickpayloans' %}">Quick Pay Loans</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 md-mb-10">
                    <h3 class="footer-title">Contact Info</h3>
                    <ul class="address-widget">
                        <li>
                            <i class="flaticon-location"></i>
                            <div class="desc">Delta Corner Annex, Westlands, Nairobi</div>
                        </li>
                        <li>
                            <i class="flaticon-call"></i>
                            <div class="desc">
                               <a href="tel:+254723527197">+254 723 527197</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <div class="desc">
                                <a href="mailto:info@quickpaycredit.com">info@quickpaycredit.com</a>
                            </div>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <h3 class="footer-title">Newsletter</h3>
                    <p class="widget-desc white-color">Stay up to update with our latest news and products.</p>
                    <p>
                        <input type="email" name="EMAIL" placeholder="Your email address" required="">
                        <input type="submit" value="Subscribe Now">
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">                    
            <div class="row y-middle">
                <div class="col-lg-6 md-mb-10 text-lg-end text-center order-last">
                    <ul class="copy-right-menu">
                        <li><a href="{% url 'home:home' %}">Home</a></li>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'faq' %}">Faqs</a></li>
                        <li><a href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="copyright text-lg-start text-center ">
                        <p>&copy; {% now 'Y' %} Quick Pay Credit Limited. All Rights Reserved. Made By <a href="https://codeworldcreatives.com" target="_blank">Code World Creatives</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->