<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Corporation",
      "name": "QuickPay Credit Limited",
      "alternateName": "QuickPay Credit",
      "url": "https://www.quickpaycredit.com",
      "logo": "https://www.quickpaycredit.com/static/images/quickpaycredit_logo.png",
      "sameAs": [
        "https://facebook.com/quickpaycredit",
        "https://instagram.com/quickpaycredit",
        "https://twitter.com/quickpaycredit",
        "https://www.quickpaycredit.com"
      ]
    }
    </script>